@{
    ViewData["Title"] = "Home Page";
}

<h1 class="display-1"><u>Welcome to Cup & Cakes!</u></h1>

<div class="table table-hover table-bordered">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Order's Name</th>
          <th scope="col">Order's Flavor</th>
          <th scope="col">Order Type</th>
          <th scope="col">Number of Orders</th>
          <th scope="col">Customer</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Berry Red</td>
          <td>Strawberry</td>
          <td>Cupcakes</td>
          <td>15</td>
          <td>Bob Wilkams</td>
        </tr>
        <tr>
          <td>Coco Blast</td>
          <td>Chocolate</td>
          <td>Cake</td>
          <td>2</td>
          <td>Sherry Grifs</td>
        </tr>
        <tr>
          <td>Vanilla Valor</td>
          <td>Vanilla</td>
          <td>Cupcakes</td>
          <td>12</td>
          <td>Gary Yelon</td>
        </tr>
        <tr>
          <td>Banana Slamma</td>
          <td>Banana</td>
          <td>Cake</td>
          <td>1</td>
          <td>Donkey Kong</td>
        </tr>
      </tbody>
    </table>
</div>

<h2>What's Cup&Cakes?</h2>
<p>
    Cup&Cakes is a simple store which sells cake and cupcakes as the name speaks for itself. Here, you can make your very own order by making
    the order's name, flavor, and quantity. Be sure to sign or log in to be able to order, this is for security purposes and safety of the website.
</p>