html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: lightblue;
}

table {
    background-color: white;
}

title {
    font-family:Arial;
}

nav {
    background-color: #C9F8F7;
    border-color:dodgerblue;
}